<h2>Edit a contact</h2>

<%if params[:company_id]%>
	<%=render 'form_company_contact'%>
<%else%>
	<%=render 'form_contact'%>
<%end%>

<%=link_to 'Cancel', contacts_path, :class => 'btn btn-primary btn-mini'%>